.nested-copy-line-height img,
.nested-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Opzionale: aggiunge spazio verticale sopra e sotto le immagini */
    margin-top: 1rem; 
    margin-bottom: 1rem;
}
